          <div class="pane-form">			  
			<form id="add-email-form">
			  <div class="form-group">
    			<label>Email</label>
    			<input name="emailName" type="text" class="form-control" >
 			  </div>
			  <div class="form-group">
			    <label>Email Group</label>
			    <select id="group" name="group"class="form-control">
			    	<option value="instructors">Instructors</option>
			    	<option value="assistants">Assistants</option>
			    	<option value="first-grade">First Grade</option>
			    	<option value="second-grade">Second Grade</option>
			    	<option value="third-grade">Third Grade</option>
			    	<option value="fourth-grade">Fourth Grade</option>
      </select>
			  </div>
			  <div class="form-actions">
			    <button id="emailAdd" type="submit" class="btn btn-form btn-primary">Save</button>  <!-- d]]]]]-->
			  </div>
			</form>
          </div>
<script>
  //Button click listener
	$("#emailAdd").click(function(e){
		e.preventDefault();
		//First control the form
	  if (!addMailFormControl()) addMailClicked();
	});
	//Form Control
	function addMailFormControl(){
		var empty = false;
		$('input[type="text"]').each(function(){
		   if($(this).val()==""){
			   empty=true;
			   $(this).focus(); //Focus on field
			   return false;
		    }
		 });
		 		 
		 if(empty==true){
		 	alert("Please fill in the form");
			return empty;
		 }
	}
</script>