<nav class="nav-group">
  <h5 class="nav-group-title" id="tabs">Course Management</h5>
  <span class="nav-group-item active" href="views/show-courses.html">
    <span class="icon icon-home"></span>
    Show Courses
  </span>
  <span class="nav-group-item" href="views/add-course.html" >
    <span class="icon icon-plus-circled"></span>
    Add Course
  </span>
  <span class="nav-group-item" href="views/edit-course.html">
    <span class="icon icon-pencil"></span>
    Edit Course
  </span>
  <span class="nav-group-item" href="views/delete-course.html">
    <span class="icon icon-trash"></span>
    Delete Course
  </span>
  <span class="nav-group-item" href="views/select-courses.html">
    <span class="icon icon-book"></span>
    Select Courses For Semester
  </span>
  <span class="nav-group-item" href="views/setup-course.html">
    <span class="icon icon-book"></span>
    Setup Weekly Course Schedule
  </span>			  
</nav>
<!-------------------------------- NAV BREAK --------------------------------->
<nav class="nav-group">
  <h5 class="nav-group-title">Notification Management</h5>
  <span class="nav-group-item" href="views/show-email.html"> 
    <span class="icon icon-mail"></span>
    Show Emails
  </span>
  <span class="nav-group-item" href="views/import-emails.html">
    <span class="icon icon-upload"></span>
    Import Email List
  </span>
  <span class="nav-group-item" href="views/add-email.html">
    <span class="icon icon-plus-circled"></span>
    Add Email
  </span>
  <span class="nav-group-item" href="views/edit-email.html">
    <span class="icon icon-pencil"></span>
    Edit Email
  </span>
  <span class="nav-group-item" href="views/delete-email.html">
    <span class="icon icon-trash"></span>
    Delete Email
  </span>			  
</nav>