          <div class="pane-form">			  
			<form>
			  <div class="form-group">
			    <label>Username</label> 
			    <select name="username" class="form-control"> <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! BURAYI  DB YLE UYUMLU HALE GETIR                -->
			    	<option selected value="Content Manager 1">Content Manager 1</option>
			    	<option value="Content Manager 2">Content Magager 2</option>
			    </select>
			  </div>
			  <div class="form-actions">
			    <button id="form-button" type="submit" class="btn btn-form btn-primary" onClick="render.deleteContentManager()">Delete Content Manager</button>
			  </div>
			</form>
          </div>
