  <div class="pane-form">			  
	<form id="delete-course-form">
	  <div class="form-group">
	    <label>Choose Course</label>
	    <select id="coursesl" name="coursesl" class="form-control">
	    </select>
	  </div>
	  <div class="form-actions">
	    <button id="deleteCourseButton" type="submit" class="btn btn-form btn-primary">Delete</button>  <!-- d]]]]]-->
	  </div>
	</form>
  </div>
  
  <script>
  	user.deleteCourseHelper();	
	
  	$("#deleteCourseButton").click(function(e){
  		e.preventDefault();
  		deleteCourseClicked();
  	});


  </script>