		<div class="pane-form">			  
	<form id="edit-email-form">
		<div class="form-group">
			<label>Email Group</label>
			<select id="emailgroup"name="emailgroup" class="form-control">
				<option value="instructors">Instructors</option>
		    	<option value="assistants">Assistants</option>
		    	<option value="first-grade">First Grade</option>
		    	<option value="second-grade">Second Grade</option>
		    	<option value="third-grade">Third Grade</option>
		    	<option value="fourth-grade">Fourth Grade</option>
			</select>
			<label> Email</label>
			<select id="emailname"name="emailname" class="form-control">
			</select>
		</div>
		<div class="form-group">
			<label>New Email</label>
			<input name="newemail" type="text" id="newemail"  class="form-control">
		</div>
		<div class="form-actions">
			<button id="editMailButton" type="submit" class="btn btn-form btn-primary" >SAVE</button>
		</div>
	</form>
		</div>
<script >
	$("#emailgroup").change(function() {
	//Store the selected email group
    var selectedMail = $(this).children("option:selected").val();
	//Reset the form
	$("#emailname")
	.find('option')
	.remove()
	.end();  
	user.editEmailHelper(selectedMail);

	});



	$("#editMailButton").click(function(e){
		e.preventDefault();
		if (!editMailFormControl()) editEmailClicked();
	});
	function editMailFormControl(){
		var empty = false;
		$('input[type="text"]').each(function(){
		   if($(this).val()==""){
			   empty=true;
			   $(this).focus(); //Focus on field
			   return false;
		    }
		 });
		 		 
		 if(empty==true){
		 	alert("Please fill in the form");
			return empty;
		 }
	}

</script>