<div class="pane-form">			  
	<form>
	<div class="form-group">
		<label>Email Group</label>
		<select id="group" name="group"class="form-control">
			<option value="instructors">Instructors</option>
			<option value="assistants">Assistants</option>
			<option value="first-grade">First Grade</option>
			<option value="second-grade">Second Grade</option>
			<option value="third-grade">Third Grade</option>
			<option value="fourth-grade">Fourth Grade</option>
</select>
	  </div>
	  <div class="form-group">
		<label>Email List</label> <br>
		<input type="file" accept=".csv" id="inputfile">
	  </div>
	  
	  <div class="form-actions">
		<input id="viewfile" type="button" class="btn btn-form btn-primary" value="Import" ></button>
	  </div>
	</form>
  </div>
  <script>
	  var emails=[];
  $(document).ready(function(){
	$('#viewfile').click(function (e) { 	
		e.preventDefault();
		if( importMailFormControl()){
			let rdr=new FileReader();
			rdr.onload=function(e){
				console.log("hello");
				//get the rows into an array
				var therows=e.target.result.split("\n");
				for(var row=0;row< therows.length; row++){
					var columns = therows[row].split(",");
					for(var i=0; i< columns.length;i++){
						var email=columns[i];
						emails.push(email);
					}
				}
				importEmailsClicked(emails);
			}
			rdr.readAsText($("#inputfile")[0].files[0]);
		}
	});
  }); 
function importMailFormControl(){
		var fileName = $("#inputfile").val();

		if(fileName) { // returns true if the string is not empty
			return true;
		} else { // no file was selected
			alert("No file is selected");
			return false
		}
}
  </script>