          <div class="pane-form">
			<form>
			  <div class="form-group">
			    <label>Event</label>
			    <select name="events" id="events" class="form-control"> 
            <option value="" disabled selected>Select Event</option>
			    </select>
			  </div>
			  <div class="form-group">
			    <label>Email List</label>
			    <select name="group" class="form-control"> 
            <option value="" disabled selected>Select Email Group</option>
            <option value="first-grade" id="first-grade">1st Grade</option>
            <option value="second-grade" id="second-grade">2st Grade</option>
			    	<option value="third-grade" id="third-grade">3st Grade</option>
            <option value="fourth-grade" id="fourth-grade">4st Grade</option>
            <option value="assistants" id="assistants">Asistants</option>
			    	<option value="instructors" id="instructors">Instructors</option>
			    </select>
			  </div>
			  <div class="form-actions">
			    <button id="sendEventButton" type="submit" class="btn btn-form btn-primary">Send Event</button>
			  </div>
			</form>
          </div>
          <script>
          	user.sendEventHelper();

          	$("#sendEventButton").click(function(e){
          		e.preventDefault();
          		sendEventClicked();
          	});


          </script>
