<div class="pane">
	<table id="showCoursesTable" class="table">
	  <thead>
	    <tr>
	      <th>Course Name</th>
	      <th>Course Code</th>
	      <th>Course Credit</th>
	      <th>Course Ects</th>
	      <th>Course Prequirities</th>
	      <th>Mandatory/Elective</th>
	      <th>Active/Inactive</th>
	      <th>Semester</th>	
	      <th>Instructors</th>	
	      <th>Assistants</th>	
		  	  
	    </tr>
	  </thead>
	  <tbody id="tablecontent">
	  </tbody>
	</table>
</div>

<script>
	showCoursesClicked()
</script>
